# Tuples

In [ ]:
1. Its a sequence datatype.
2. Used to store Multiple values of different DT.
3. Represented by "()" and values are separated by ",".
4. Ordered DT.
5. Supports Duplicates.
6. IMMUTABLE DT -> we cannot do changes.

In [2]:
t = ("sai",45,23.67,"mani",45,"sai","yash",67)
print(t)
print(type(t))

('sai', 45, 23.67, 'mani', 45, 'sai', 'yash', 67)
<class 'tuple'>

In [3]:
#Access a particular value from tuple -> index

print(t[2])

#print beginning value from tuple
print(t[0])

#print last value from tuple
print(t[-1])

23.67
sai
67

In [4]:
#Access multiple values at a time from tuple -> slicing method
#syntax: v_n[StartIndex:StopIndex:StepIndex]

print("original tuple:",t)

#Access start at 2nd position and end at 5th position
print(t[2:6])

#start at beginning and end at 4th position
print(t[:5])

#start at 1st position and end at end of the tuple
print(t[1:])

#access tuple values in reverse order
print(t[::-1])

#access even position values from the tuple
print(t[::2])

#access odd position values from the tuple
print(t[1::2])

original tuple: ('sai', 45, 23.67, 'mani', 45, 'sai', 'yash', 67)
(23.67, 'mani', 45, 'sai')
('sai', 45, 23.67, 'mani', 45)
(45, 23.67, 'mani', 45, 'sai', 'yash', 67)
(67, 'yash', 'sai', 45, 'mani', 23.67, 45, 'sai')
('sai', 23.67, 45, 'yash')
(45, 'mani', 'sai', 67)

In [5]:
#Create a empty tuple

t1 = ()
print(t1)
print(type(t1))

t2 = tuple()
print(t2)
print(type(t2))

()
<class 'tuple'>
()
<class 'tuple'>

In [6]:
#create a tuple with single element

t = (99,)  #(99)/99
print(t)
print(type(t))

(99,)
<class 'tuple'>

In [7]:
#len()
t = ("sai",45,23.67,"mani",45,"sai","yash",67)
print(len(t))

8

In [8]:
#count()-> v_n.count(value)

#print how many "45" exists in tuple
t = ("sai",45,23.67,"mani",45,"sai","yash",67)
print(t.count(45))

2

In [9]:
#index()

#print position of "yash" in tuple
t = ("sai",45,23.67,"mani",45,"sai","yash",67)
print(t.index("yash"))

#print position of "sai" in tuple
print(t.index("sai"))

#print 2nd position of "sai" in tuple
print(t.index("sai",1))

6
0
5

In [10]:
#min()

x = 989,34,12,67,45,11
print(min(x))

11

In [11]:
#max()

x = 989,34,12,67,45,11
print(max(x))

989

In [12]:
#sum()

x = 989,34,12,67,45,11
print(sum(x))

1158

# Tuple Operators

In [13]:
#concatenation(+)
#repetition(*)

In [14]:
t1 = (90,56,"sai")
t2 = ("pavan",45,12,67.89)

t3 = t1+t2
print(t3)
print(t1)
print(t2)

(90, 56, 'sai', 'pavan', 45, 12, 67.89)
(90, 56, 'sai')
('pavan', 45, 12, 67.89)

In [15]:
t1 = (90,56,"sai")
t2 = (t1*3)
print(t2)
print(t1)

(90, 56, 'sai', 90, 56, 'sai', 90, 56, 'sai')
(90, 56, 'sai')

In [16]:
#iterate the tuple 

t = ("sai",45,23.67,"mani",45,"sai","yash","sai",67,"sai")
for i in t:
    print(i,end=" ")

sai 45 23.67 mani 45 sai yash sai 67 sai

In [18]:
#iterate the tuple where it has to print index along with values-

t = ("sai",45,23.67,"mani",45,"sai","yash","sai",67,"sai")
for i in range(len(t)):
    print(f"Index:{i} :Value:{t[i]}")

Index:0 :Value:sai
Index:1 :Value:45
Index:2 :Value:23.67
Index:3 :Value:mani
Index:4 :Value:45
Index:5 :Value:sai
Index:6 :Value:yash
Index:7 :Value:sai
Index:8 :Value:67
Index:9 :Value:sai